.add-product-page {
    margin: 30px 0 50px 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.add-product-page h1 {
    font-size: 45px;
    margin-bottom: 50px;
}

.add-product-page input, .add-product-page textarea {
    width: 100%;
    padding: 7px;
}

.add-product-page textarea {
    resize: none;
    height: 78px;
}

.add-product-page .buttons {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.add-product-page .button {
    width: 150px;
}