
h1 {
    margin-bottom: 30px;
}

.cutting-options {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cutting-options div {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
