.popup-form {

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.popup-form input, .input-switch {
    font-size: 20px;
    padding: 7px;
    margin-top: 15px;
    width: 100%;
}

.popup-form input:first-of-type {
    margin-top: 5px;
}

.popup-form .input-switch {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

.popup-form .input-switch input {
    margin-top: 0;
}

.popup-form input[type='text']:focus, input[type='number']:focus{
    outline-offset: -1px;
    outline-style: solid;
    outline-color: var(--color-wheel-2);
    outline-width: 2px;
}

.popup-form input:disabled {
    cursor: default;
    background-color: #e9e9e9;
}

.popup-form .select {
    font-size: 20px;
    margin-top: 15px;
}

.popup-form .input-error {
    border-color: var(--red);
}

.popup-form .input-error-text {
    color: var(--red);
    font-size: 17px;
    margin: 5px 0 0 0;
}

.shelf-code::placeholder {
    text-transform: none;
}

.shelf-code {
    text-transform: uppercase;
}
