.popup-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    gap: 15px;
    margin-top: 10px;
}

.popup-form input, textarea {
    font-size: 20px;
    padding: 7px;
    width: 100%;
}

.popup-form textarea {
    height: 95px;
    resize: none;
}

.popup-form input[type='text']:focus, input[type='number']:focus, textarea:focus{
    outline-offset: -1px;
    outline-style: solid;
    outline-color: var(--color-wheel-2);
    outline-width: 2px;
}

.popup-form input:disabled, textarea:disabled {
    cursor: default;
    color: #dddddd;
    background-color: #dddddd;
}

.popup-form .select {
    font-size: 20px;
}

.popup-form .input-error {
    border-color: var(--red);
}

.popup-form .input-error-text {
    color: var(--red);
    font-size: 17px;
    margin: 5px 0 0 0;
}

.shelf-code::placeholder {
    text-transform: none;
}

.shelf-code {
    text-transform: uppercase;
}

.form-popup-wrapper .form-error {
    font-size: 17px;
    color: var(--red);
    margin-top: 10px;
    visibility: hidden;
}

.form-popup-wrapper .form-error:after {
    content: '\200b';
}

.form-popup-wrapper .form-error.visible {
    visibility: visible;
}

.form-popup-wrapper {
    width: 400px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-popup-wrapper h2 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
}
