.popup-form {
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin-top: 10px;
}

.shelf-code::placeholder {
    text-transform: none;
}

.shelf-code {
    text-transform: uppercase;
}

.form-popup-wrapper .form-error {
    font-size: 17px;
    color: var(--red);
    margin-top: 10px;
    text-align: center;
    visibility: hidden;
}

.form-popup-wrapper .form-error:after {
    content: '\200b';
}

.form-popup-wrapper .form-error.visible {
    visibility: visible;
}

.form-popup-wrapper {
    width: 400px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-popup-wrapper h2 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
}
