.yes-no-popup {
    max-width: 600px;
}

.yes-no-popup h1 {
    font-size: 20px;
    font-weight: 300;
}

.yes-no-popup p {
    font-size: 18px;
    font-weight: 300;
    color: var(--red);
    margin: 0;
}
