.button {
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    border: none;
    min-width: 90px;
    text-align: center;
    transition: all 200ms;
}

.button:active {
    transform: scale(0.97);
}

.button.primary {
    background-color: var(--primary);
    color: #ffffff;
}
.button.primary:hover {
    background-color: #834286;
}

.button.cancel {
    background-color: #ffffff00;
    color: #834286;
    border-style: solid;
    border-width: 1px;
    border-color: #834286;
}

.button.cancel:hover {
    background-color: #834286;
    color: #ffffff;
}