.search {
    display: flex;
    justify-content: stretch;
    width: 100%;
}

.search input {
    padding: 9px;
    font-size: 20px;
    border-width: 1px 0 1px 0;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0;
    width: calc(100% - 171px);;
}

.search .search-icon {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search .search-icon.left {
    border-radius: 5px 0 0 5px;
    border-width: 1px 0 1px 1px;
    padding-left: 10px;
}

.search .search-icon.right {
    border-radius: 0;
    border-width: 1px 0 1px 0;
    padding-right: 10px;
}

.search .search-icon.right svg {
    visibility: hidden;
}

.search .search-icon.right.visible svg {
    visibility: visible;
    cursor: pointer;
}

.search .search-icon svg {
    font-size: 25px;
    color: #CCCCCC;
}

/* .search input:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--color-wheel-2);
} */

.search button {
    background-color: var(--primary);
    border-radius: 0 5px 5px 0;
	cursor: pointer;
	color: #ffffff;
	font-size: 20px;
    border-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.search button:hover {
    background-color: var(--color-wheel-2);
}

.search button:active {
	position:relative;
	top:1px;
}
