.detail-header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 50px;
    gap: 50px;
}

.detail-header img {
    width: 250px;
    height: 250px;
}

.detail-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 50%;
}

.detail-description .symbol {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 15px 0;
}


.detail-description .symbol h1 {
    font-size: 55px;
    margin: 0;
}


.detail-description .symbol svg {
    font-size: 35px;
    color: var(--black);
    margin: 10px 0 0 10px;
    cursor: pointer;
    visibility: hidden;
}

.detail-description .symbol:hover svg {
    visibility: visible;
}

.detail-description p {
    font-size: 20px;
    margin: 0 0 20px 0;
    text-align: left;
}

.detail-description .sale {
    display: flex;
    align-items: center;
    color: var(--red);
    font-weight: 600;
    gap: 5px;
}

.product-options {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: auto;
    margin-bottom: 10px;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 20px;
}

.option svg {
    margin-right: 5px;
}
