.detail-header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 50px;
}

.detail-header img {
    width: 250px;
    height: 250px;
}

.detail-header .options {
    margin: 10px 10px auto auto;
    font-size: 40px;
}

.detail-header .options svg {
    padding: 0 5px;
    cursor: pointer;
}

.detail-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.detail-description .symbol {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 15px 0;
}


.detail-description .symbol h1 {
    font-size: 55px;
    margin: 0;
}


.detail-description .symbol svg {
    font-size: 35px;
    color: var(--black);
    margin: 10px 0 0 10px;
    cursor: pointer;
    visibility: hidden;
}

.detail-description .symbol:hover svg {
    visibility: visible;
}

.detail-description p {
    font-size: 20px;
    margin: 0 0 10px 0;
    text-align: left;
    max-width: 500px;
}

.detail-description .features {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.detail-description .features .feature {
    padding: 4px 5px;
    background-color: var(--color-wheel-3);
    color: #ffffff;
    font-size: 16px;
    border-radius: 8px;
}

.detail-description .sale {
    display: flex;
    align-items: center;
    color: var(--red);
    font-weight: 600;
    gap: 5px;
}

.product-options {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: auto;
    margin-bottom: 5px;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 20px;
}

.option svg {
    margin-right: 5px;
}

.other-categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
    width: 250px;
}

.other-categories .other {
    cursor: pointer;
}

.other-categories .current {
    cursor: default;
    font-weight: 600;
    color: var(--primary);
}

.other-categories .other:hover {
    color: var(--color-wheel-2);
    text-decoration: underline 1px;
}