.detail-header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 50px;
    gap: 50px;
}

.detail-header img {
    width: 250px;
    height: 250px;
}

.detail-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 50%;
}

.detail-description h1 {
    font-size: 55px;
    margin: 0 0 15px 0;
}

.detail-description p {
    font-size: 20px;
    margin: 0 0 20px 0;
    text-align: left;
}

.detail-description .sale {
    display: flex;
    align-items: center;
    color: var(--red);
    font-weight: 600;
    gap: 5px;
}

.add-product {
    margin-top: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-product svg {
    margin-right: 5px;
}
