
.header {
    font-weight: 600;
    margin: 0;
    text-align: left;
}

.data-rows {
    margin-top: 10px;
}

.product-detail {
    font-size: 20px;
}

.product-detail.meter {
    width: 600px;
}

.product-detail.premade {
    width: 800px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-detail .icons {
    cursor: pointer;
    margin: 0 5px;
}

.product-detail .delete {
    color: #e76370;
}

.product-detail .edit {
    color: #5f76e7;
}

.product-detail .copy {
    color: #449536;
}

.row {
    padding: 5px 0;
}

.row.even {
    background-color: #f5f5f5;
}

.row.odd {
    background-color: #fff;
}