.parent-product-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.parent-product-form .input-error-text {
    color: red;
    font-size: 18px;
    margin: 5px 0;
}

.parent-product-form .image-forms {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.parent-product-form .image-forms img {
    width: 190px;
    height: 190px;
    object-fit: cover;
    margin: 0 20px 20px 0;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

.parent-product-form .image-forms .forms {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
    width: 350px;
}

.parent-product-form .rest-forms {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
    width: 560px;
}

.parent-product-form .switch-form {
    text-align: center;
    text-decoration: underline 1px;
    margin-top: 10px;
    cursor: pointer;
}

.choose-category {
    width: 100%;
}

.choose-category-parent {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    gap: 20px;
}
