.product-popup {
    width: 400px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-popup h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.product-popup h2 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
}

.product-popup .form-error {
    font-size: 17px;
    color: var(--red);
    margin-top: 10px;
    visibility: hidden;
    text-align: center;
}

.product-popup .form-error:after {
    content: '\200b';
}

.product-popup .form-error.visible {
    visibility: visible;
}