.login-page-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login-box {
	background-color: #ffffff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			    0 10px 10px rgba(0,0,0,0.22);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 800px;
	max-width: 100%;
	min-height: 570px;
}

.sign-in-container, .info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	width: 100%;
	height: 100%;
}

.sign-in-container {
	border-radius: 10px 0 0 10px;
}

.info-container {
	background: #c96696;
	background: -webkit-linear-gradient(to right, #993d9c, #c96696);
	background: linear-gradient(to right, #993d9c, #c96696);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	border-radius: 0 10px 10px 0;
}

.info-container .link {
	margin: 10px auto 0 auto;
	font-size: 20px;
    font-weight: 600;
}

.info-container h1 {
	margin-bottom: 10px;
}

.info-container .link:hover {
	text-decoration: underline 1px;
	cursor: pointer;
}

.login-box h1 {
    font-size: 32px;
}

.login-box p {
	font-size: 25px;
}

.form-error {
    color: #c96696;
    margin: 0px;
    font-size: 0.7rem;
    font-weight: 300;
}

.form-fail {
    color: #c96696;
    font-size: 0.85rem;
    font-weight: 600;
}

.login-box button {
    margin-top: 10px;
	border-radius: 20px;
	border: 1px solid #c96696;
	background-color: #c96696;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 40px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.login-box button:active {
	transform: scale(0.95);
}

.login-box button:focus {
	outline: none;
}

.login-form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
	border-radius: inherit;
}

.login-form h1 {
    margin-bottom: 10px;
}

.login-form input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0 4px 0;
	width: 100%;
    border-radius: 5px;
}