.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: var(--navbar-width);
    background-color: var(--primary);
    box-shadow:
        0.3px 0px 0.3px -9px rgba(0, 0, 0, 0.021),
        0.6px 0px 0.7px -9px rgba(0, 0, 0, 0.031),
        1px 0px 1.1px -9px rgba(0, 0, 0, 0.039),
        1.5px 0px 1.7px -9px rgba(0, 0, 0, 0.045),
        2.1px 0px 2.4px -9px rgba(0, 0, 0, 0.05),
        3px 0px 3.4px -9px rgba(0, 0, 0, 0.056),
        4.3px 0px 4.8px -9px rgba(0, 0, 0, 0.062),
        6.2px 0px 6.9px -9px rgba(0, 0, 0, 0.069),
        9.6px 0px 10.7px -9px rgba(0, 0, 0, 0.079),
        17px 0px 19px -9px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.menu-item {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    background-color: #ffffff5e;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in 0.15s;
}

.menu-item:last-child {
    margin-top: auto;
}

.menu-item svg {
    width: 30px;
    height: 30px;
}

.menu-item:hover {
    color: var(--primary);
    border-radius: 20px;
}

.menu-item:hover .item-tooltip {
    opacity: 1;
}

.item-tooltip {
    font-size: 20px;
    background-color: var(--primary);
    color:white;
    position: absolute;
    left: calc(var(--navbar-width) + 10px);
    padding: 5px 10px;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transition: ease-in 0.15s;
    white-space: nowrap;
}

.logout {
    display: flex;
    justify-content: end;   
}