.search {
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    max-width: 600px;
}

.search input {
    flex-grow: 7;
    padding: 9px;
    font-size: 20px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 5px;
}

.search input:focus {
    outline:none;
}

.search button {
    flex-grow: 3;
    background-color: var(--primary);
	border-radius: 5px;
	cursor: pointer;
	color: #ffffff;
	font-size: 20px;
	padding: 9px;
    border-width: 0;
}

.search button:hover {
    background-color: var(--color-wheel-4);
}

.search button:active {
	position:relative;
	top:1px;
}
