.search {
    margin: 30px auto 50px auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 500px;
}

.search input {
    flex-grow: 8;
    padding: 9px;
    font-size: 20px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 5px;
}

.search input:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--color-wheel-2);
}

.search button {
    flex-grow: 1;
    background-color: var(--primary);
	border-radius: 5px;
	cursor: pointer;
	color: #ffffff;
	font-size: 20px;
	padding: 9px;
    border-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search button:hover {
    background-color: var(--color-wheel-4);
}

.search button:active {
	position:relative;
	top:1px;
}
